<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>Armor</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Bagify font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.ico">
       <!-- my css -->
       <link rel="stylesheet" href="/css/style.css">
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<!-- icon -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/main.css?v=3.4">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/js-image-zoom/0.2.4/js-image-zoom.min.css">
       <!-- Swwet Alert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"> 

</head>
<body>
    <!-- nav bar -->
     <nav class="navbar navbar-expand-lg " style="background-color:black;">
         <div class="container">
           <a class="navbar-brand" href="/dash">
             <h1 style="color: #caaa93; font-family: 'Cinzel Decorative', serif;">ARMOR EDGE</h1>
           </a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse nav-abouts" id="navbarTogglerDemo01">
             
             <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
               <li class="nav-item">
                 <a class="nav-link" href="/wishList"><i class="bi bi-heart" style="color: #caaa93;"></i></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/cart_page"><i class="bi bi-cart" style="color: #caaa93;"></i></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="/user_profile"><i class="bi bi-person-circle"style="color: #caaa93;"></i></a>
               </li>
             </ul>
           </div>
         </div>
       </nav>
       
 
        <!-- Header with Categories -->
     <header style="background-color: #E8E3DD;">
         <div class="container">
             <div class="header-links  d-flex justify-content-around" >
                 <div class="catdivs">
                     <a href="/shop" style="font-weight: bold; " >SHOP</a>
                 </div>
            
                 <div class=" catdivs">
                     <a href="/mens" style="font-weight: bold; " >MENS</a>
                 </div>
                 <div class="catdivs">
                     <a href="/womens" style="font-weight: bold; " >WOMENS</a>
                 </div>
                 <div class=" catdivs">
                     <a href="/kids" style="font-weight: bold; " >KIDS</a>
                 </div>
             </div>
         </div>
     </header>